.loginPage{
    position: absolute;
    width: 540px;
    height: 484px;
    left: 690px;
    top: 104px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 0px;
}

.title{


position: absolute;
width: 112px;
height: 48px;
left: 775px;
top: 146px;
font-style: normal;
font-weight: normal;
font-size: 40px;
line-height: 48px;
color: #212529;
}

.description{
position: absolute;
width: 393px;
height: 48px;
left: 735px;
top: 206px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
color: #212529;

}

.inputs{
position: absolute;
width: 99px;
height: 24px;
left: 735px;
top: 269px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #212529;

}

.input1{

position: absolute;
width: 99px;
height: 24px;
left: 735px;
top: 269px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;

color: #212529;

}

.input1 input {

width: 450px;
height: 38px;
left: 735px;
top: 301px;
background: #FFFFFF;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 0px;

}

.input2{

position: absolute;
width: 66px;
height: 24px;
left: 735px;
top: 355px;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #212529;


}

.input2 input {

width: 450px;
height: 38px;
left: 735px;
top: 387px;

background: #FFFFFF;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 0px;

}

.logButton {
    position: absolute;
    width: 450px;
    height: 38px;
    left: 735px;
    top: 449px;
    background: #E05433;
    border: 1px solid #E05433;
    box-sizing: border-box;
    border-radius: 0px;

}

.forget{
    position: absolute;
width: 129px;
height: 24px;
left: 735px;
top: 503px;

font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 24px;
color: #212529;

}

.forget a{

width: 108px;
height: 24px;
left: 864px;
top: 503px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #E05433;

}

.errrorMesage{

width: 411px;
height: 48px;
left: 727px;
top: 760px;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* or 150% */

color: #DC3545;



}