.container{
    position: absolute;
    width: 730px;
    height: 318px;
    left: 595px;
    top: 104px;
    
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.125);
    box-sizing: border-box;
    border-radius: 0px;
}
.link{

padding-top: 29px;
padding-left: 29px;

left: 640px;
top: 133px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;
color: #E05433;
 
}

.headerContainer{

width: 279px;

left: 640px;
top: 154px;
font-style: normal;
font-weight: normal;
font-size: 38px;
line-height: 48px;
/* identical to box height, or 126% */

color: #212529;


}

.titleContainer{
   
width: 510px;

left: 640px;
top: 213px;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 24px;


color: #212529;


}

.inputContainer{
    padding-top: 20px;
}

.inputContainer label{
    color: #212529;
}

.inputContainer input {


width: 640px;
height: 38px;
left: 640px;
top: 285px;

background: #FFFFFF;
border: 1px solid #CED4DA;
box-sizing: border-box;
border-radius: 0px;

}

.buttonContainer{

padding-top: 15px;



}

.buttonContainer button{

width: 640px;
height: 38px;
left: 640px;
top: 339px;
background: #E05433;
box-sizing: border-box;
border-radius: 0px;

}